* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex-wrap;
  background-color:black;
  background: url(../img/fallout-pipboy-screen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(1rem);
  backdrop-filter: cover;
}

/*
.pre-loading-screen {
  position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
} 

.disappear{
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
*/


#page-title{
font-family: 'Lobster', sans-serif;
font-weight: 400;
font-size: 3rem;
text-align: center;
color: black;
}

.game-info-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-evenly;
}

.game-info {
font-family: 'Lobster Two', sans-serif;
font-weight: 400;
color: black;
font-size: 3rem;
}

.game-container {
display: grid;
grid-template-columns: repeat(4, auto);
grid-gap: 10px;
margin: 50px;
justify-content: center;
perspective: 500px;
}

/* Using the prespective properties, a 3D element effect is created and applied to the cards */

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}


#page-intro{
font-family: 'Lobster Two', sans-serif;
font-size: 2rem;
color: black;
text-align: center;
}


/* With the prespective properties in place in both .memory-game and .game-container, a transform-style of preserve-3d was added to each .perk-card,
giving them the 3D effect, and more of a depth than the standard 2D flat card */


.perk-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(25,149,21);
}

.perk-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.perk-card.flip {
  transform: rotateY(180deg);
}

/* Using the backface-visibily, the card face is now hidden ready so that the respective image can be added, 
instead of seeing the same image on both faces */

.card-face,
.card-back
 {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: black;
  backface-visibility: hidden;
}

/* A transform property was used in conjuction with Javascript to be able to archive the rotation or "flip" effect */
/* transform rotate was added to the Y so that now, we are able to see the face of the card */

.card-face {
  transform: rotateY(180deg);
}

div, #footer {
  background-color: transparent;
}

/* ------------------Restart Button ----------------------- */

.btn {
margin-top: 2rem;
}
