* {
	box-sizing: border-box;
  }
  
  html {
	min-height: 100vh;
	cursor: pointer;
	font-family: "Lobster", sans-serif;
  }
  
  body {
	margin: 0;
	background-color: black;
	background: url(../img/fallout-pipboy-screen.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	backdrop-filter: blur;
	backdrop-filter: cover;
  }
  
  .page-title {
	color: black;
	font-family: "Lobster", sans-serif;
	font-weight: normal;
	text-align: center;
	font-size: 3rem;
  }
  
  .game-info-container {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
  }
  
  .game-info {
	color: black;
	font-size: 4em;
	font-family: "Lobster Two", sans-serif;
  }
  
  .game-container {
	margin: 50px auto;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	justify-content: center;
	perspective: 500px;
  }

  .card {
	position: relative;
	cursor: pointer;
	height: 175px;
	width: 125px;
	border: transparent;
	padding: 0px;
  }
  
  div, .card{
	  background: transparent;
  }
  
  .card-face {
	position: absolute;
	display: flex;
	
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	transition: transform 500ms ease-in-out;
	backface-visibility: hidden;
  }
  
  .card.visible .card-back {
	transform: rotateY(-180deg); 
  }
  
  .card.visible .card-front {
	transform: rotateY(0); 
  }
  
  .card-back {
	background-color: black;
	border-color: 1px rgba(25, 149, 21);
	transform: rotateY(0); 
  }
  
  
  .card-value {
	transform: scale(1);
  }
  
  
  .card-front {
	background-color: black;
	border-color: #333;
	transform: rotateY(180deg);
  }
  
  .overlay-text {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgba(25, 149, 21);
	font-family: "Lobster", sans-serif;
	transition: background-color 500ms, font-size 500ms;
  }
  
  .overlay-text-small {
	font-size: .3em;
  }
  
  .overlay-text.visible {
	display: flex;
	animation: overlay-grow 500ms forwards;
  }
  
  
  
  @keyframes overlay-grow {
	from {
	  background-color: rgba(0, 0, 0, 0);
	  font-size: 0;
	}
	to {
	  background-color: rgba(0, 0, 0, .8);
	  font-size: 10em;
	}
  }
  
  @media (max-width: 600px) {
	.game-container {
	  grid-template-columns: repeat(2, auto)
	}
  
	.game-info-container {
	  flex-direction: column;
	  align-items: center;
	}
  }

  .footer {
	color: #666;
	margin-bottom: 2em;
}

.footer, h3 {
	text-align: center;
}

.footer > p {
	font-size: 1em;
	padding: 1em;
	color: black;
	text-decoration: none;
}

